#background {
    background-color: #0013FE;
    color: #FE003E;
}
#picture {
    background-color: #0FEEDD;
}
#Gradient {
    background-image: linear-gradient(#A978F9,#6143FA)
}
#Text {
    color: #f08000;
}