#jumbotron {
    text-align: center;
}
#color {
    background-color: gray;
}
#background {
    background-color:#23E6FA;
}
#image {
    background-image: url("images/Predator.jpg");
}
#gradientcolor {
     background-image: linear-gradient(red, yellow);
}
#title {
    font-family: cursive;
    font-size: 45 px;
}
#text {
    font-family: sans-serif;
    font-size: 50 px;
}