#Jumbotron {
    background-image: linear-gradient(#035CF9,#03B2F9);
}
#background {
    background-image: linear-gradient(#030AF9,#037EF9);
}
#background2 {
    background-image: linear-gradient(yellow,black);
}